:root {
  --primaryColor: rgb(255, 255, 255);
  --secundaryColor: rgb(0, 0, 0);
  --thirdColor: #6B46D7;
  --hoverColor: #5431d4;
}


@font-face {
  font-family: "Nunito", sans-serif;
  src: url(./assets/font/Nunito-Italic-VariableFont_wght.ttf) format('truetype');
}

body {
  font-size: .875rem;
  font-family: 'Nunito', 'Open Sans', sans-serif !important;
  height: 100vh;
}

main {
  margin-top: 5% !important;
}

.feather {
  width: 16px;
  height: 16px;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  top: 0;
  right: 0;
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1);
}


.sidebar-sticky {
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

.nav .nav-item .active {
  color: #333;
  text-decoration: none !important;
}

.nav .nav-link.active:not(.fw-bold):hover {
  color: #2470dc !important;
}

.sidebar-heading {
  font-size: .75rem;
}

/*
 * Navbar
 */

header {
  background-color: var(--thirdColor);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}


/*  dashboard.rtl */

/*
 * Sidebar
 */

.sidebar-heading {
  font-size: .75rem;
}


/*  dashboard.css pasta css */

.button {
  width: 10vw;
  background-color: rgb(140, 0, 255);
  color: white;
  font-weight: 600;
  font-size: 2vh;
  margin-top: -80vh;
  margin-left: 55vw;
}

.button:hover {
  background-color: rgb(160, 73, 200);
  outline: none;
}

.wave {
  margin-left: 10vw;
  margin-top: 0vh;
}

.dashCont {
  background-color: white;
  width: 75vw;
  height: 94vh;
  margin-left: 20vw;
  border-radius: 10px;
  margin-top: 10vh;
  display: flex;
}

.logo {
  height: 8vh;
  margin-left: 0vw;
  cursor: pointer;
}

.user {
  height: 12vh;
  margin-left: 2.5vw;
  margin-top: 77vh;
}

.line {
  height: 10vh;
  width: 70vw;
  margin-top: 0vh;
  border-radius: 5px;
  font-size: 5vh;
}

.line2 {
  background-color: rgb(184, 184, 184);
  height: 5vh;
  width: 7vw;
  margin-top: -69vh;
  margin-left: -57vw;
  border-radius: 5px;
  font-size: 3vh;
}

.filter {
  margin-top: -79vh;
  margin-right: 40vw;
}

.filterSearch {
  width: 12.5vw;
  margin-left: 3vw;
  border: 2px solid rgb(100, 100, 100);
  border-radius: 5px;
  font-size: 3vh;
  outline: none;
}

.filters {
  margin-right: 52.5vw;
  margin-top: -12vh;
  font-size: 2.3vh;
  background-color: rgb(194, 194, 194);
  border-radius: 5px;
}

.filters2 {
  margin-right: 21.5vw;
  margin-top: -12vh;
  font-size: 2.3vh;
  background-color: rgb(194, 194, 194);
  border-radius: 5px;
}

.filterCancel {
  cursor: pointer;
}

.filterSelected {
  margin-left: 0vw;
}

.filterSvg {
  height: 5vh;
  cursor: pointer;
}

.serverContainer {
  border: 1px solid black !important;
  height: 65vh !important;
  width: 95%;
  overflow-y: scroll;
}

.server-cont {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}

.listStyle {
  margin-top: -55vh;
  margin-left: 55vw;
  height: 5vh;
}

.text-muted {
  cursor: context-menu;
}

/* General Data */

.hover-mychart {

  transition: 100ms;
  background-color: white;
}

.hover-mychart:hover {
  transform: scale(1.1);
  transition: 100ms;
  border-radius: 2px;

}

.center {
  display: flex;
  justify-content: left;
  align-items: center;

}

.component-box {
  padding-top: 8rem;
  transition: 300ms;

}

.component-box:hover {
  transition: 300ms;
}

.component-box .card:hover {
  transition: 300ms;
  background-color: rgb(209, 209, 209);
}

.box-buttom {
  width: 10rem;
}

.component-box .card {
  width: 80%;
}

.kpis-flex {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.kpi-analisys-data {
  box-shadow: 0.1rem 0.3rem 0.2rem rgb(195, 195, 195);
}

#cpu-card:hover:not(.selected),
#ram-card:hover:not(.selected),
#disk-card:hover:not(.selected) {
  cursor: pointer;
}

.center-left {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;

}

.center-row {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
}

.center-row-big {
  display: flex;
  justify-content: left;
  margin-top: 1rem;
  flex-direction: column;
  padding: 1rem;
}

.v-hr {
  margin-top: 5rem;
  margin-right: 2rem;
  height: 20rem;
  border-right: 1px solid rgb(227, 227, 227);
}


.v-hr-less-mgtop {
  margin-top: 2rem;
}

.v-hr-small {
  height: 2rem;
  margin-top: 0;
  margin-right: 1rem;
}


.icon-kpi {
  width: 4rem;
}

.card-img-kpi {
  padding: 2rem;
}

#center-donut-1 {

  margin-top: 8%;
  color: var(--hoverColor);
  z-index: 100;
}

.server {
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: 600;
  font-size: 1vw;
  cursor: pointer;
}

.servers {
  margin-left: 0.6vw;
}

.server-svg {
  height: 11vh;
  opacity: 0.8;
}

.setorLista {
  font-size: 3vh;
  margin-top: 1.5vh;
  margin-left: 2vh;
}

.hexLista {
  margin-top: 6.5vh;
  margin-left: 0.8vw;
  opacity: 0.7;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}


.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.server-background {
  border-bottom: 1px solid black;
}

.disk-background {
  height: 20px;
  border-radius: 50px;
  background-color: #d3d3d9;
}

.disk-usage {
  background-color: #47408e;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

/* dashboard min.css */

/* Dados-gerais */
.big-chart {
  width: 70%;
}

.cards-general-data {
  height: fit-content;
  width: 20%;
}

.box-general {
  width: 90%;
  border: 2px solid rgb(190, 190, 190);
  padding: 2rem;
  border-radius: 10px;
  margin-top: 1rem;
}

.box-mensal-chart {
  width: 100%;
  border: 2px solid rgb(190, 190, 190);
  padding: 2rem;
  border-radius: 10px;
  height: 20rem;
}

.box-minichart-general {
  width: 80%;
  border: 2px solid rgb(190, 190, 190);
  padding: 2rem;
  border-radius: 10px;
  height: 10rem;
}

.chart {

  min-height: 100%;
  max-height: 100%;
}

.mini-chart {

  min-height: 100%;
  max-height: 100%;
}

.small-font {
  font-size: 1rem !important;
  color: rgb(118, 118, 118);
}

/* Scroll */
::-webkit-scrollbar-track {
  background-color: whitesmoke;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--thirdColor);
  border-radius: 5%;
}