:root {
    --primaryColor: rgb(255, 255, 255);
    --secundaryColor: rgb(0, 0, 0);
    --thirdColor: #6B46D7;
    --hoverColor: #5431d4;
    --carrossel-position-x: 14;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
    font-family: "Nunito", sans-serif;
    src: url(./assets/font/Nunito-Italic-VariableFont_wght.ttf) format('truetype');
}



body {
    margin: 0;
    padding: 0;
    /* background: black; */
    font-family: 'Nunito', 'Open Sans', sans-serif !important;
    overflow-x: hidden;
}

a {
    text-decoration: none !important;
}

/* SCROLL BAR - COMEÇO */

::-webkit-scrollbar-track {
    background-color: whitesmoke;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: var(--thirdColor);
    border-radius: 5%;
}



/* HEADER - COMEÇO */
.fundo {
    background-color: whitesmoke;
    width: 100%
}

/* HEADER */

.header {
    display: flex;
    /* background-color: yellow; */

}

.header .container {
    justify-content: space-between;
}

.titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 4%;
}

.titulo img {
    margin-right: 1%;
    width: 100%;
}

.navBar {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    width: 350px;
}

.register {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    margin: 0;
    width: 20%;
}

.cadastro_botao {
    background-color: white;
    color: black;
    width: 98px;
    padding: 10px;
    border-radius: 24px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cadastro_botao:hover {
    background-color: whitesmoke;
    cursor: pointer;
    border-radius: 5%;
}

.ver-planos-botao,
.login-botao {
    border: 0 !important;
    background-color: var(--thirdColor) !important;
    transition: all 300ms;
    color: white !important;
}

.ver-planos-botao:hover,
.login-botao:hover {
    border: 0 !important;
    background-color: var(--hoverColor) !important;
    color: rgb(203, 203, 203) !important;
}

/* HEADER - FIM */

/* BANNER - COMEÇO */

.banner {
    height: 500px;
    overflow: hidden;
}

#slider {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    column-gap: 40px;
    transition: all 300ms;
    transform: translateX(calc(var(--carrossel-position-x) * 1%));
}


@media (max-width: 500px) {

    .banner {
        height: 280px;
    }
    #slider {
        transform: translateX(0)
    }
    .titulo {
        width: 10%;
    }
    .register {
        width: 60%;
    }

    .img1 {
        height: 90% !important;
    }
}

#slider img {
    height: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
}


#slider img:not(.selected) {
    cursor: pointer;
}

/* BANNER - FIM */

/* CADASTRO - FIM */

/* SOCIAL - COMEÇO */

.social {
    background-color: white;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social .container h4 {
    font-weight: lighter;
}

.parte1, .parte2, .parte3, .parte4 {
    display: flex;
    width: 100%;
    padding-top: 36px;
    padding-bottom: 36px;
}

.parte2 {
    background-color: whitesmoke;
}

.parte1 .container, .parte2 .container, .parte3 .container, .parte4 .container {
    justify-content: space-around
}

.parte4 .container {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

#greenhouse, #graphs, #loss {
    width: 100%;
    border-radius: 32px;
}


/* SOCIAL - FIM */

/* FOOTER - COMEÇO */

.footer {
    background-color: var(--thirdColor);
    width: 100%;
    border-top: 6px solid white;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 0.8rem;
}

.footer h1 {
    font-weight: bolder;
}

.footer .container {
    display: flex;
    flex-direction: column;
}

.boxes_footer1 {
    display: flex;
    justify-content: space-between;
}

.slogan_footer {
    width: 20rem;
}

.listas_footer {
    display: flex;
    flex-direction: row;
    width: 70%;
}

.ul_footer {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.divisao {
    width: 100%;
    height: 1px;
    background-color: white;
    margin-top: 24px;
    margin-bottom: 24px;
}

.boxes_footer2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer .titulo {
    justify-content: left;
}

/* FOOTER - FIM */