:root {
    --primaryColor: rgb(255, 255, 255);
    --secundaryColor: rgb(0, 0, 0);
    --thirdColor: #2D2DBF;
    --hoverColor: #5431d4;
    --blue: rgba(107, 163, 236, 1);
    --carrossel-position-x: 19;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
    font-family: "Verdana", sans-serif;
    src: url(./assets/font/Nunito-Italic-VariableFont_wght.ttf) format('truetype');
}



body {
    margin: 0;
    padding: 0;
    /* background: black; */

    overflow-x: hidden;
}

a {
    text-decoration: none !important;

}

/* SCROLL BAR - COMEÇO */

::-webkit-scrollbar-track {
    background-color: whitesmoke;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: var(--thirdColor);
    border-radius: 5%;
}


*,
*:before,
*:after {
    box-sizing: border-box;
    position: relative;
    letter-spacing: 0.04em;
}

/* HEADER - COMEÇO */
.fundo {
    background-color: var(--thirdColor);

    width: 100%
}

/* HEADER */

.header {
    display: flex;



}

.logo {
    filter: brightness(6000%)
}

.header .container {

    justify-content: space-between;
}

.titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 4%;
}

.titulo img {
    margin-right: 1%;
    width: 100%;
}

.navBar {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    width: 350px;
}

.register {
    border: 0.5px solid yellow;
    border-radius: 5px;
    padding: 0.5rem;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;

    margin: 0;
    width: 55%;
    color: white;
}

.img-marketing {
    width: 8rem;
}

.video-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;

    padding: 2rem;
}

.video-apresentacao {
    height: 30rem;
    width: 60%;
    border: 2px solid blue;
    background-color: var(--thirdColor)
}

.page-apresentacao {
    width: 20%;
}

.hr {
    border-bottom: 2px solid rgb(244, 204, 129);
    width: 10%;
}

.marcas {
    display: flex;
    justify-content: space-around;
    width: 60%;
    height: 6rem;


}

.img-marcas {
    width: 4rem;
    height: 4rem;
    border: 2px solid white;
    border-radius: 0.5rem;
    filter: brightness(60%);

    transition: 350ms;

}

.img-marcas:hover {
    transform: scale(1.2);
    filter: brightness(100%);
    box-shadow: 0.2rem 0.3rem 0.6rem rgba(35, 3, 51, 0.6);
    transition: 350ms;
}

.cards-marketing {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
    width: 100%;


}

.cards-marketing .card {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 20rem;
    background-color: var(--thirdColor);
    color: white;
    border: none !important;

}

.down-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-arrow-down {
    width: 10%;
    filter: hue-rotate(85deg) brightness(70%);
}

.text-card {
    width: 80%;
    font-size: 0.52em;
}

.font-nav {

    color: rgb(255, 247, 165) !important;
}

.cadastro_botao {
    background-color: white;
    color: black;
    width: 98px;
    padding: 10px;
    border-radius: 24px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cadastro_botao:hover {
    background-color: whitesmoke;
    cursor: pointer;
    border-radius: 5%;
}

.v-hr {
    border-left: 0.5px solid white;
    height: 2rem;
}

.ver-planos-botao,
.login-botao {
    border: 0 !important;
    background-color: white !important;
    transition: all 300ms;
    color: rgb(23, 23, 23) !important;
}

.ver-planos-botao:hover,
.login-botao:hover {
    border: 0 !important;
    background-color: rgb(0, 0, 0) !important;
    color: rgb(203, 203, 203) !important;
    box-shadow: 0.2rem 0.3rem 0.1rem rgba(35, 3, 51, 0.3);
    transition: 300ms;
}

/* HEADER - FIM */

/* BANNER - COMEÇO */

.img-icon-user {
    width: 2rem;
    height: 2rem;
    filter: invert();
}

.banner {
    padding: 2rem;
    padding-bottom: 5%;
    overflow: hidden;

    background-image: url(https://outfunnel.com/wp-content/uploads/2020/12/of-bg-logo-1.png), linear-gradient(0deg, rgba(107, 163, 236, 1) 0%, var(--thirdColor) 100%);
    color: white;
}

.cadastro {
    padding: 0.5rem;
}

#slider {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    column-gap: 40px;
    transition: all 300ms;
    transform: translateX(calc(var(--carrossel-position-x) * 1%));
}




#slider img {
    height: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
}


#slider img:not(.selected) {
    cursor: pointer;
}

/* BANNER - FIM */

/* CADASTRO - FIM */

/* SOCIAL - COMEÇO */

.social {
    background-color: white;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social .container h4 {
    font-weight: lighter;
}

.parte1,
.parte2,
.parte3,
.parte4 {
    display: flex;
    width: 100%;
    padding-top: 36px;
    padding-bottom: 36px;
}

.parte2 {
    background-color: whitesmoke;
}

.parte1 .container,
.parte2 .container,
.parte3 .container,
.parte4 .container {
    justify-content: space-around
}

.parte4 .container {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

#greenhouse,
#graphs,
#loss {
    width: 100%;
    border-radius: 32px;
}

.parte3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 2px solid rgb(201, 226, 255);
}

.last-part-home {
    display: flex;
    padding: 2rem;
    width: 60%;
    border-radius: 2rem;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: var(--thirdColor);
}



.alertas-receba {
    display: flex;
    width: 60%;
    justify-content: space-around;
    padding: 1rem;
    font-size: 2px;

}

.alertas-parte {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alertas-txt {
    text-align: center;
}

.danger,
.warning,
.ok {
    width: 4rem;
    height: 3rem;
    border-radius: 20px;
    text-align: center;
    color: white;
    font-weight: bolder;
}

.danger {
    background-color: rgb(235, 32, 93);
}

.warning {
    background-color: #eb9a30;
}

.ok {
    background-color: rgb(44, 170, 160);
}

.desc-last {
    width: 70%;
}




/* SOCIAL - FIM */

/* FOOTER - COMEÇO */

.footer {
    background-color: var(--thirdColor);
    width: 100%;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 0.8rem;
}

.footer h1 {
    font-weight: bolder;
}

.footer .container {
    display: flex;
    flex-direction: column;
}

.boxes_footer1 {
    display: flex;
    justify-content: space-between;
}

.slogan_footer {
    width: 20rem;
}

.listas_footer {
    display: flex;
    flex-direction: row;
    width: 70%;
}

.ul_footer {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.divisao {
    width: 100%;
    height: 1px;
    background-color: white;
    margin-top: 24px;
    margin-bottom: 24px;
}

.boxes_footer2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer .titulo {
    justify-content: left;
}

/* FOOTER - FIM */

/* Responsividade */
@media (max-width: 500px) {

    .banner {
        height: 280px;
    }

    #slider {
        transform: translateX(0)
    }

    .titulo {
        width: 10%;
    }

    .register {
        width: 65%;
    }

    .img1 {
        height: 90% !important;
    }

    #greenhouse,
    #graphs,
    #loss {
        width: 70% !important;
    }
}