:root {
  --primaryColor: rgb(255, 255, 255);
  --secundaryColor: rgb(0, 0, 0);
  --thirdColor: #6B46D7;
  --hoverColor: #5431d4;
  --carrossel-position-x: 14;
}


@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  background: linear-gradient(45deg, rgb(24, 143, 190) 35%, var(--thirdColor) 100%);
  background-size: 400% 400%;
  margin: 0;
  padding: 0;
  animation: animation-body 8s ease infinite;
  overflow: visible;
}

@keyframes animation-body {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


a {
  text-decoration: none !important;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.b-example-divider {
  height: 3rem;
  background-color: #6B46D7;
  border: solid #5431d4;
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em #6B46D7, inset 0 .125em .5em #5431d4;
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
}

.card {
  height: 20rem !important;
  transition: 200ms;
}

.card:hover {
  transform: scale(1.1);
  transition: 200ms
}

.footer {
  background-color: transparent !important;
}

::-webkit-scrollbar-track {
  background-color: var(--thirdColor) !important;
}

::-webkit-scrollbar {
  width: 3px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background: #231161 !important;
  border-radius: 5%;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}