@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    margin: 0;
    /* background: black; */
    font-family: 'Open Sans', sans-serif;;
}

.container {
    width: 80vw;
    margin: auto;
    display: flex;
    /* border: 3px solid red; */
    
}
 

/* HEADER - COMEÇO */
.fundo {
    margin: auto;
    background-color: whitesmoke;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 560px;
    /* border: 3px solid purple; */
}

/* HEADER */

.header {
    background-color: rgb(0, 0, 0, 0.4);
    color: white;
    display: flex;
    margin-bottom: 24px;
    /* border: 3px solid blue; */
    /* background-color: rgb(94, 14, 90); */

}

.header .container{
    justify-content: space-between;
}

.titulo {
    color: white;
    display: flex;
    flex-direction: row; 
    align-items: center;
    font-family:'Arial';
    /* text-shadow: 0.1em 0.1em 0.05em rgb(0, 0, 0); */
    /* text-shadow: 1px 1px black;  */
    /* border: 3px solid blue; */
}

.titulo img{
    width: 50px;
    height: 50px;
    border-radius: 12px;
    margin-right: 12px;
}

.navBar {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    width: 350px;
    /* text-shadow: 0.1em 0.1em 0.05em rgb(0, 0, 0); */
    /* text-shadow: 1px 1px black;  */
    /* border: 3px solid blue; */
}

.register {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    width: 260px;
    /* text-shadow: 1px 1px black;  */
    /* border: 3px solid blue; */
}

.cadastro_botao {
    background-color: white;
    color: black;
    width: 98px;
    padding: 10px;
    border-radius: 24px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cadastro_botao:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.cadastro_botao a{
    color: #000;
}

.login_botao {
    background-color:   rgb(94, 14, 90);
    color: white;
    /* text-shadow: 0.1em 0.1em 0.05em rgb(0, 0, 0); */
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    width: 84px;
    padding: 10px;
    border-radius: 24px;
    align-items: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aqui {
    font-size: 18px;
    font-weight: bold;
}

a {
    color: white;
    text-decoration: none; 
}

/* HEADER - FIM */

/* BANNER - COMEÇO */

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    color: #000;
    /* text-shadow: 0.1em 0.1em 0.05em rgb(0, 0, 0); */
    /* border: 3px solid blue;  */
}

#slider {
    width: 100%;
    height: 50vw;
    max-height: 350px;
    position: relative;
}

#slider img{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: top;
    border-radius: 32px;
    transition: opacity 800ms;
}

#slider img.selected { 
    opacity: 1;
}

.banner .container{
    justify-content: center;
    align-items: center;

 
    display: flex;

}

/* BANNER - FIM */

.banner h1 {
    color: rgb(0, 0, 0);
    font-size: 56px;
    width: 48%;
    /* text-shadow: 1px 1px black;  */
}

/* CADASTRO - FIM */

/* SOCIAL - COMEÇO */

.social {
    background-color: white;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social .container h4{
    font-weight: lighter;
}

.parte1 {
    display: flex;
    width: 100%;
    padding-top: 36px;
    padding-bottom: 36px;
}

.parte1 .container {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    
}

.parte2 {
    padding-top: 72px;
    padding-bottom: 72px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: whitesmoke;
}

.parte2 .container {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.parte3 {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding-top: 72px;
    padding-bottom: 72px;
}

.parte3 .container {
    justify-content: space-between;
}

.parte4 {
    display: flex;
    background-color: whitesmoke;
    width: 100%;
    padding-top: 72px;
    padding-bottom: 72px;
}

.parte4 .container {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.parte4 .container .box1 h4 {
    background-color: #cf0b0b;
    color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    width: 250px;
    height: 64px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 36px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: normal;
}

.parte4 .container .box1 h4:hover {
    background-color: #B31C45;
}

.box1 {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 33%;
}

.box2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#greenhouse {
    width: 450px;
    border-radius: 32px;
}

#graphs {
    width: 350px;
    border-radius: 32px;
}

#profit {
    width: 450px;
    border-radius: 32px;
}

#loss {
    width: 612px;
    border-radius: 24px;
    margin-top: 32px;
}

/* SOCIAL - FIM */

/* FOOTER - COMEÇO */

.footer{
    background-color:   rgb(94, 14, 90);
    width: 100%;
    color: white;
    padding-top: 72px;
    padding-bottom: 72px;
    
}

.footer .container {
    display: flex;
    flex-direction: column;
}

.boxes_footer1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.slogan_footer { 
    width: 280px;
    height: 238px;
    display: flex;
    align-items: top;
    margin-right: 24px;
    /* text-shadow: 0.1em 0.1em 0.05em rgb(0, 0, 0); */
}

.listas_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.ul_footer{
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 200px;
    list-style: none;
    /* text-shadow: 0.1em 0.1em 0.05em rgb(0, 0, 0); */
}

.divisao {
    width: 100%;
    height: 1px;
    background-color: white;
    margin-top: 24px;
    margin-bottom: 24px;
}

.boxes_footer2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer .titulo {
    justify-content: left;
    /* text-shadow: 0.1em 0.1em 0.05em rgb(0, 0, 0); */
}

/* FOOTER - FIM */

/* SCROLL BAR - COMEÇO */

::-webkit-scrollbar-track {
    background-color: whitesmoke;
}

::-webkit-scrollbar {
    width: 12px;
}
  
::-webkit-scrollbar-thumb {
    background: rgb(94, 14, 90);
    /* border-radius: 16px; */
}



































@media only screen and (min-width: 250px) and (max-width:900px) {
    
    .header {
        /* background-color: rgb(0, 0, 0, 0.4); */
        color: white;
        display: flex;
        margin-bottom: 24px;
        flex-direction: column;
        width: 100vh;
      
        /* border: 3px solid blue; */
    
    }
    
    .header .container{
        justify-content: space-between;
        font-size: 12px;
       
    }
    
    .titulo {
        color: white;
        display: flex;
        flex-direction: row; 
        align-items: center;
        font-family: 'Open Sans', sans-serif;    
        width: 35%;
        
        /* text-shadow: 1px 1px black;  */
        /* border: 3px solid blue; */
    }
    
    .titulo img{
        width: 50px;
        height: 50px;
        border-radius: 12px;
        margin-right: 12px;
    }
    
    
    .register {
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: space-evenly;
        width: 260px;
        float: right;
        /* margin-left: 400px; */
        /* text-shadow: 1px 1px black;  */
        /* border: 3px solid blue; */
    }
    
    .cadastro_botao {
        background-color: white;
        color: black;
        width: 36px;
        padding: 10px;
        border-radius: 24px;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 11px;

    }
    
    .cadastro_botao:hover {
        background-color: whitesmoke;
        cursor: pointer;
    }
    
    .cadastro_botao a{
        color: #000;
    }
    
    .login_botao {
        background-color:   rgb(94, 14, 90);
        color: white;
        
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
        width: 36px;
        padding: 10px;
        border-radius: 24px;
        align-items: center;
        justify-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 11px;
    }
    
    a {
        color: white;
        text-decoration: none; 
    }
    
    .banner {
        display: flex;
        align-items: center;
        justify-content: space-around;
        
        /* border: 3px solid blue;  */
    }
    
    .banner .container{
        justify-content: space-between;
        display: flex;
    
    }
    
    /* BANNER - FIM */
    
    .banner h1 {
        color: white;
        font-size: 24px;
        width: 40%;
        /* text-shadow: 1px 1px black;  */
    }


    /* SOCIAL - COMEÇO */

.social {
    background-color: white;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
}

.social .container h4{
    font-weight: lighter;
    float: left;
    display: flex;
}

.parte1 {
    display: flex;
    width: 100%;
    padding-top: 36px;
    padding-bottom: 36px;
}

.parte1 .container {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    
}

.parte1 .container .box1 {
    flex-direction: column;
    width: 500px;

}
.parte2 {
    padding-top: 72px;
    padding-bottom: 72px;
    width: 100%;
    display: flex;
    background-color: whitesmoke;
    justify-content: center;
    flex-direction: column;
}

.parte2 .container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* align-items: center; */
    justify-items: center;
}

.parte2 .container .box1{
    flex-direction: column;
    width: 500px;
}

/* .parte3 {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding-top: 72px;
    padding-bottom: 72px;
}

.parte3 .container {
    justify-content: space-between;
} */

.box1 {
    display: flex;
    flex-direction: column;
    /* align-items: left; */
    width: 33%;
    justify-content: space-around;
}

.box1 h1{
   display: flex;
   /* float: left; */
   margin-right: 150px;
   
}

.box1 h4{
    display: flex;
    font-size: medium;
 }

.box2 {
    display: flex;
    align-items: center;
}

#greenhouse {
    width: 200px;
    border-radius: 32px;
}

#graphs {
    width: 200px;
    border-radius: 32px;
}

#profit {
    width: 200px;
    border-radius: 32px;
}

#loss {
    width: 612px;
    border-radius: 24px;
    margin-top: 32px;
}

/* SOCIAL - FIM */

/* FOOTER - COMEÇO */

.footer{
    background-color:   rgb(94, 14, 90);
    width: 100vh;
    color: white;
    padding-top: 72px;
    padding-bottom: 72px;
    height: 300px;
    
}

.footer .container {
    display: flex;
    flex-direction: column;
    float: left;
    height: 150px;
}

.boxes_footer1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.slogan_footer { 
    width: 280px;
    height: 238px;
    display: flex;
    align-items: top;
    margin-right: 24px;
    margin-left: 34px;
    
}

.listas_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.ul_footer{
    display: flex;
    flex-direction: column;
    align-items: left;
    /* height: 200px; */
    list-style: none;
    
}

.divisao {
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 1px;
    background-color: white;
    margin-top: 24px;
    margin-bottom: 24px;
}

.boxes_footer2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer .titulo {
    justify-content: left;
    display: none;
    
}

.footer .cadastro_botao{
    display: none;
}

/* FOOTER - FIM */
}