@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --primaryColor: rgb(255, 255, 255);
  --secundaryColor: rgb(0, 0, 0);
  --thirdColor: rgb(94, 14, 90);
  --hoverColor: #663dff;
  --silver: rgba(135, 135, 135, 0.702);

}

/* *,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  /* font-size: 1.3125rem; */
  /* line-height: 1.6; */
  height: 100vh auto;
  /* background-color: var(--backgroundColor); */
  font-family: 'Open Sans', sans-serif;

}

a {
  text-decoration: none;
}

.main {
  width: 100%;
  height: 100%;
}

.center-form {
  /* border: 2px dashed red; */
  display: grid;
  place-items: center;
  margin-top: 2%;
}

.center-form .form {
  display: flex;
  flex-direction: column;
  padding-top: 1%;
  align-items: center;
  border: 0px dashed green;
  box-sizing: border-box;
}

.center-form  h1 {
  font-size: 2.8rem;
  margin-bottom: 2%;
  font-weight: 400;
}

.center-form  h3 {
  font-size: 2.5rem;
  margin-bottom: 2%;
  font-weight: 400;
}

.input-form {
  width: 26vw;
  margin: 10%;
  height: 3vh;
  text-align: center;
  border: none;
  border-bottom: 3px solid var(--thirdColor);
  outline: none;
  font-size: 80%;
}

.input-form:focus, .input-form:hover{
  border-bottom: var(--hoverColor) 3px solid;
}

.all-border{
  height: 4vh;
  border: 2px solid var(--silver);
  margin-top: 2vh;
  
}

.all-border:focus, .all-border:hover{
  border: 2px solid var(--thirdColor);
  transition: all ease-in-out 300ms;
  
}

.form button {
  color: white;
  background-color: var(--thirdColor);
  height: 4vh;
  width: 6vw;
  border-radius: 5px;
  border: 0;
  margin-top: 5vh;
  margin-bottom: 7vh;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.form button:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: var(--hoverColor);
  border-radius: 5px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.form button:hover{
  color: #fff;
}
.form button:hover:after  {
  left: 0;
  width: 100%;
}
.form button:active {
  top: 2px;
}

.form a {
  color: var(--silver);
  border-bottom: 2px solid var(--silver);
  font-size: 60%;
}

.form a:hover{
  color: var(--hoverColor);
  border-bottom: 2px solid var(--hoverColor);
  transition: all ease 0.4s;
}

#error_msg{
    color: red;
    font-weight: 500;
    margin-top: 3%;
    font-size: 1.4rem;
}


@media only screen and (min-width: 200px) and (max-width: 900px) {
  
  .header li{
    display: none;
  }

  .header {
    border: 0px dashed green;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 8vh;
    margin-top: 2vh;
    margin-left: 2vh;

  }

  .header .logo-img img {
    height: 100%;
    width: 30%;
    border: 0px dashed purple;
    margin-top: 0%;
    margin-left: 0%;
  }

  .center-form  h1 {
    font-size: 2rem;
    margin-bottom: 5vh;
    font-weight: 400;
  }

  .input-form {
    width: 55vw;
    margin: 15%;
    height: 3vh;
    text-align: center;
    border: none;
    border-bottom: 3px solid var(--thirdColor);
    outline: none;
    font-size: 0.9rem;
  
  }

  .form button {
    color: white;
    background-color: var(--thirdColor);
    height: 4vh;
    width: 20vw;
    border-radius: 5px;
    border: 0;
    margin-top: 2vh;
    margin-bottom: 5vh;
    font-weight: bold;
    cursor: pointer;
    z-index: 1;
    font-family: "Lato", sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
      7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    outline: none;
  }

  #error_msg{
    color: red;
    font-weight: 500;
    margin-top: 5%;
    font-size: 0.8rem
}
.center-form  h3 {
  font-size: 1.5rem;
  margin-bottom: 2%;
  font-weight: 400;
  margin-bottom: 5%;
}

.all-border{
  height: 4vh;
  border: 2px solid var(--silver);
  margin-top: 1vh;
}

.all-border:focus, .all-border:hover{
  border: 2px solid var(--thirdColor);
  transition: all ease-in-out 300ms;
  
}
}