body{
    background-color: #f6f6f9;
    display: flex;
    
}
.container-intermedio{
    width: 2rem;
    height: 50rem;
   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 2rem;
    background-color: white;
    box-shadow: -9px 10px 5px rgba(0, 0, 0, 0.315);
    

}
.container-um{
    width: 10rem;
    height: 50rem;
   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 3rem;
    background-color: white;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.315);
     
    
}
.container-dois{
    width: 60rem;
    height: 50rem;
   
    
}
.grafico-principal{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    width: 58rem;
    height: 20rem;
    background-color: white;
    position: relative;
    border-radius: 1rem;
    box-shadow: -9px 10px 5px rgba(0, 0, 0, 0.315);
}
.kpis{
    width:  60rem;
    height: 20rem;
    
    position: relative;
    display: flex;
    justify-content: space-around;

}
.temp-um{
    border-radius: 1rem;
    margin-top: 2rem;
    width: 15rem;
    height: 12rem;
    /* border:  2px solid; */
    background-color: white;
    box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.315);
}
.temp-dois{
    border-radius: 1rem;
    margin-top: 2rem;
    width: 15rem;
    height: 12rem;
    background-color: white;
    /* border:  2px solid; */
    box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.315);
}
.temp-tres{
    border-radius: 1rem;
    margin-top: 2rem;
    width: 15rem;
    height: 12rem;
    background-color: white;
    /* border:  2px solid; */
    box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.315);
}
.letras{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.527);
}
.grafico{
    
    width: 58rem;
    height: 20rem;
}
.grafico-um{
    margin-top: 2rem;
    
}